.cf_devmob{
  background: linear-gradient(101deg, #150B42 5.02%, #3D065F 96.31%);
}
.container_devmobile{
  width: 100%;
  height: 100vh;
  background-image: url(/public/imagesAnima/devmobile/bgimage.PNG);
  background-size: 100% 100vh;
  display: flex;
  align-items: center;
  margin-top: 86px;
}
.content{
  display: block;
}
.h1_devmobile{
  font-style: normal;
  font-weight: 800;
  font-size: 84px;
  line-height: 102px;

  color: #FFFFFF;
}
.span_devmobile{
  color: #F22878;
}
.p_content{
  width: 716px;
  height: 132px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;

  color: #FFFFFF;
}

/* ******************* SECTION1 ************************ */
.section1{
  background: linear-gradient(101deg, #150B42 5.02%, #3D065F 96.31%);
}
.img_section1 {
    width: 450px;
    height: auto;
}
.h2_section1{
  width: 498px;
  height: 49px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 49px;
/* identical to box height */
  text-transform: capitalize;
  color: #E8750D;
}
.p_section1{
  width: 693px;
  height: 218px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */
  text-align: justify;
  color: rgba(255, 255, 255, 0.6);
}
.col1_section1{
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ******************* SECTION 2 *****************  */

.img1_section2{
  width: 250px;
  height: auto;
}
.col1_section2{
  display: flex;
  justify-content: center;
  align-items: center;
}
.col2_section2 {
  display: flex;
  justify-content: right;
}
.p_section2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
}





/* ************************************* */
@media screen and (max-width: 576px) {
  .container_devmobile {
    height: 78vh;
    background-size: 100% 78vh;
}
  .h1_devmobile {
    width: fit-content;
    font-size: 30px;
    line-height: 54px;
  }
   .p_content {
    width: fit-content;
    height: fit-content;
    font-size: 13px;
    margin-bottom: 0;
  }
  .p_section1 {
    width: fit-content;
    height: fit-content;
    font-size: 13px;
  
  }
  .img_section1 {
    width: 250px;
    height: auto;
}
  .h2_section1 {
    width: fit-content;
    height: fit-content;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 49px;
    text-transform: capitalize;
    color: #E8750D;
}
  .col2_section2 {
    display: flex;
    justify-content: center;
}
.p_section1{
  font-size: 13px;
}
.p_section2{
  font-size: 13px;
}
  .row1{
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 576px) {
  .container_devmobile {
    height: 80vh;
    background-size: 100% 80vh;
}
  .h1_devmobile {
    font-size: 39px;
    line-height: 53px;
  }
  .p_content {
    width: 420px;
    height: -moz-fit-content;
    height: fit-content;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
  }
  .p_section1 {
    width: fit-content;
    height: fit-content;
    font-size: 18px;
    line-height: 28px;
  }
  .p_section2 {
    padding-top: 25px;
    padding-bottom: 25px;
}
  .col2_section2 {
    display: flex;
    justify-content: center;
  }
  .row1{
    flex-direction: column-reverse;
  }
  .img1_section2 {
    width: 299px;
    height: auto;
  }
}
@media screen and (min-width: 768px) {
  .h1_devmobile {
    font-size: 38px;
    line-height: fit-content;
  }
  .p_content {
    width: 446px;
    height: fit-content;
    margin-bottom: 0;
  }
  .p_section1 {
    width: fit-content;
    height: fit-content;
    font-size: 18px;
    line-height: 27px;
  }
  .img_section1 {
    width: 559px;
    height: auto;
}
}
@media screen and (min-width: 992px) {
  .h1_devmobile {
    font-size: 50px;
    line-height: 62px;
  }
  .p_content {
    width: 520px;
    height: fit-content;
    margin: 0;
  }
  .h2_section1 {
    width: fit-content;
    height: fit-content;
    font-size: 32px;
  }
  .p_section1 {
    width: fit-content;
    height: fit-content;
    font-size: 14px;
  }
  .p_section2 {
    width: fit-content;
    font-size: 14px;
    margin: 0;
    text-transform: none;
}
.img_section1 {
    width: 460px;
    height: auto;
}
.img2_section2{
  height: 268px !important;
}
  .img1_section2 {
    width: 268px;
    height: auto;
}
   .row1{
    flex-direction: row;
  }
  .col2_section2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
}