.logo{
  width: 50px;
  height: 50px;
}
.nav-link{
  color: white !important;
  font-weight: bold;
}
.nav-item{
  margin-left: 30px;
  font-size: 14px !important;
}
.navbar1{
    background-color: rgba(31, 26, 75, 1);
    position: fixed;
    top: 0;
    left: 0;
    z-index:99999999999999999999999;
    width:100%;
}

.dropdown1{
  /* display: block; */
  margin-left: -97px;
  margin-top: -3px;
  padding-top: 0;
  padding-bottom: 0;
}
.dropdown2{
  /* display: block; */
  margin-left: -228px;
  margin-top: -3px;
  padding-top: 0;
  padding-bottom: 0;
}
.dropdown-item{
  font-size: 15px;
  border-bottom: 0.5px solid #0000000a;
}
.dropdown-item:hover{
  background-color: rgba(216, 21, 110, 0.4) !important;
  cursor: pointer;
}

.dropdown-item1{
    padding-top: 4px;
    padding-bottom: 4px;
    /* padding-right: 207px; */

}
.navlink_contact {
    background-color: #D8156E;
    padding-left: 20px !important;
    padding-right: 20px !important;
    border-radius: 21px;
}
.navlink_contact:hover {
    color: #D8156E !important;
    background-color:  white;
    padding-left: 20px !important;
    padding-right: 20px !important;
    border-radius: 21px;
}

@media screen {
  .dropdown-toggle::after{
    display: none;
  }
}
@media screen and (max-width: 576px){
  .nav-item{
    margin-left: 0 !important;
  }
 .dropdown-item {
    width: 100%;
    font-size: 13px;
    padding: 0.25rem 0.5rem;
  }
  .navbar {
    padding: 0.5rem 0rem;
  }
  .dropdown-item1 {
    width: 100%;
  }
  .navbar-nav .dropdown-menu {
    position: absolute;
    width: 100%;
}
  .dropdown1 {
    /* display: block; */
    margin-left: 0; 
  } 
  .dropdown2{
    /* display: block; */
    margin-left: 0;
  }
  .navlink_contact {
    width: fit-content;
}
}
@media screen and (min-width: 576px) {
  .nav-item{
    margin-left: 0 !important;
  }
  .navbar-nav .dropdown-menu {
    position: absolute;
    width: 100%;
}
  .dropdown-item1 {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }
  .dropdown1 {
    /* display: block; */
    margin-left: 0; 
  } 
  .dropdown2{
    /* display: block; */
    margin-left: 0;
  }
  .navlink_contact {
    width: fit-content;
}
}
@media screen and (min-width: 768px) {
  .nav-item{
    margin-left: 0 !important;
  }
  .dropdown-item{
    color: rgba(0, 0, 0, 0.6);
;
  }
   .dropdown-item0{
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 0;
    font-weight: bold;
    font-family: sans-serif;
}
 .dropdown-item1 {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 0;
    font-weight: bold;
    font-family: sans-serif;
}
  .dropdown1 {
    /* display: block; */
    margin-left: 0; 
  } 
  .dropdown2{
    /* display: block; */
    margin-left: 0;
  }
  .navlink_contact {
    width: fit-content;
}
}
@media screen and (min-width: 992px){
  .logo{
  width: 50px;
  height: 50px;
}
.nav-link{
  color: white !important;
  font-weight: bold;
  margin-left: 30px;
}
.nav-item{
  margin-left: 30px;
  font-size: 14px !important;
}

.dropdown1{
  /* display: block; */
  margin-left: -65px;
  margin-top: -3px;
  padding-top: 0;
  padding-bottom: 0;
}
.dropdown2{
  /* display: block; */
  margin-left: -214px;
  margin-top: -3px;
  padding-top: 0;
  padding-bottom: 0;
}
.dropdown-item{
  border-bottom: 0.5px solid #0000000a;
}
.dropdown-item:hover{
  background-color: rgba(216, 21, 110, 0.4) !important;
  cursor: pointer;
}
.dropdown-item0{
  padding-left: 24px;
  padding-right: 28px;
}
.dropdown-item1{
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 218px;

}
.dropdown-toggle::after{
  display: none;
}
.navbar-nav .dropdown-menu {
    position: absolute;
    width: fit-content;
}
}
