.cf2_design{
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}
.banner_design{
  background-image: url(/public/imagesAnima/design/bgimage.PNG) !important;
  margin-top: 86px;
}
.img1_design{
  background-image: url(/public/imagesAnima/design/1.png) !important;
}
.img2_design{
  background-image: url(/public/imagesAnima/design/2.png) !important;
}
.img3_design{
  background-image: url(/public/imagesAnima/design/3.png) !important;
}
.img4_design{
  background-image: url(/public/imagesAnima/design/4.png) !important;
  border-bottom-right-radius: 50px;
}
.row1_section3_design{
  padding: 0 !important;
}

@media screen and (max-width: 576px) {
  .img4_design {
    border-bottom-right-radius: 0;
  }
  .p_section2_design{
    width: 100% ;
  }
}
@media screen and (min-width: 576px) {
  .img4_design {
    border-bottom-right-radius: 0;
  }
  .p_section2_design{
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .img4_design {
    border-bottom-right-radius: 0;
  }
  .p_section2_design{
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .img4_design {
    border-bottom-right-radius: 50px;
  }
}
@media screen and (min-width: 1200) {
  .img4_design {
    border-bottom-right-radius: 50px;
  }
}