/* .center .slick-center h3 { */
    /* color: hsl(28, 80%, 52%);
    opacity: 1; */
    /* -ms-transform: scale(1.08); */
    /* transform: scale(1.08); */
    /* background-color: yellow;
} */

.cf_exemple .slick-slide:where(.slick-active){
  /* background-color: rgb(47, 71, 255) !important; */
  /* width: 350px !important; */
  height: 50vh;
}
.cf_exemple .slick-slide:not(.slick-active){
  /* background-color: greenyellow; */
  /* width: 140px !important; */
  height: fit-content;
}

.cf_exemple .slick-slide:where(.slick-current){
  transform: scale(1.5);
  background-color: aquamarine !important;
  border: 1px solid transparent;
  border-radius: 15px;
  height: fit-content;
}
.cf_exemple .slick-slide:where(.slick-active):not(.slick-current){
  height: fit-content;
}

.cf_exemple .slick-track{
  height: 90vh !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cf_exemple .slick-slide{
  /* height: 90vh !important; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.cf_exemple .slick-slide:where(.slick-current){
  /* height: 90vh !important; */
  display: flex;
  align-items: normal;
  justify-content: left;
}

.cf_exemple .slick-slide:where(.slick-current){
  display: flex;
  flex-direction: column;
  margin-left: 0;
  border-radius: 5px;
}
.cf_exemple .slick-slide:where(.slick-current) .img_exemple{
 border-radius: 15px;
}

.h1_exemple{
  font-size: 12px;
  display: block;
}
.h2_exemple{
  font-size: 10px;
  display: block;

}

.p_exemple{
  font-size: 11px;
  padding: 0 26px;
  display: block;

}

.cf_exemple .slick-slide:where(.slick-current) .img_exemple{
  width: 134px;
  height: auto;
  position: fixed;
  top: -75px;
  left: 41px;
}

.img_exemple{
  border-radius: 100%;
}
.icon_exemple {
    width: 125px;
    display: flex;
    justify-content: space-between;

}
.cf_exemple .slick-slide .slick-center{
  height: fit-content !important;
}

.icon_child_exemple{
  width: 18px;
  height: auto;
}
.row_exemple{
  padding: 0 !important;
}

.cf_exemple .slick-slide:where(.slick-current) .h1_exempl{
  display: block;
}
.cf_exemple .slick-slide:not(.slick-current) .col2_exemple {
  display: none !important ;
}
.cf_exemple .slick-slide:not(.slick-current) .p_exemple {
  display: none !important ;
}